body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin: 25px;
}

div#inserir{
    padding: 30px;
    margin: 30px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

input#texto-tarefa{
    font-size: 30px;
    width: auto;
    outline: none;
    border-radius: 20px;
    border: none;
    background-color: rgb(199, 199, 199);
    color: black;
    padding: 15px;
}

input#adicionar-tarefa{
    width: 50px;
    margin: 5px;
    font-size: 32px;
    color: white;
    background-color: black;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 50%;
    transition: 300ms;
    outline: none;
}

input#adicionar-tarefa:hover{
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
    color: black;
    transition: 300ms;
    outline: none;
}

ul#mostrar{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    padding: 30px;
    justify-content: space-between;
    background-color: white;
    color: black;
    display: flex;
    font-size: 25px;
    margin: 30px;
    border-radius: 15px;
    align-items: center;
    list-style: none;
}

li{
    margin: 20px;
}

button.botao-acao{
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    background-color: rgb(104, 104, 104);
    color: white;
    transition: 200ms;
    outline: none;
    margin: 5px;
}

button.botao-acao:hover{
    background-color: rgb(58, 58, 58);
    color: white;
    cursor: pointer;
    transition: 200ms;
}

input#texto-edicao{
    
    font-size: 20px;
    width: auto;
    outline: none;
    border-radius: 20px;
    border: none;
    background-color: rgb(199, 199, 199);
    color: black;
    padding: 15px;
}